html {
  background: #0c6c9d;
}

body {
  text-align: center;
  width: 700px;
  padding: 30px 50px;
  margin: 20px auto;
  border-radius: 20px;
  background: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#table1 {
  border: 1px solid red;
  margin: 0px auto;
  padding: 10px;
}

#table1 td {
  border: 1px dotted blue;
  padding: 10px;
}
#row-1 {
  background-color: #053561;
  color: white;
}
.block {
  background-color: black;
  color: white;
}

.time {
  font-size: 8px;
  font-style: italic;
}

.subject:hover {
  background: #06413a;
  cursor: cell;
  color: white;
  font-size: 12px;
  transition: font-size 0.5s, background 0.5s, color 0.5s;
}

img {
  width: 100px;
}

hr {
  color: white;
}

#table2 {
  background-color: #054f94;
  border-radius: 50px;
  width: 500px;
  padding: 50px;
  margin: auto;
}

h1 {
  color: black;
}

#table3 td {
  border: 2px double black;
  background-color: #68c4f1;
  font-size: 10px;
}

.ct {
  color: #055047;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  background-color: #68c4f1;
}

#table3 {
  border: 2px double black;
  padding: 10px;
  background-color: #68c4f1;
  margin: auto;
}

.red {
  color: red;
}
.blue {
  color: blue;
}
.orange {
  color: orange;
}
.maroon {
  color: maroon;
}
.page {
  color: rgb(241, 245, 4);
}
.green {
  color: green;
}
.up {
  text-orientation: upright;
  writing-mode: vertical-lr;
}
